@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 610px;
    }
    .content {
        min-height: calc(100vh - 107px);
    }
    .top-bar {
        height: 192px;
    }
    .top-bar .wrapper {
        max-width: 640px;
    }
    .grid-top-bar {
        grid-template-columns: 154px auto 98px;
        grid-template-rows: 96px 96px;
    }
    .grid-top-bar>p {
        grid-area: 1/1/2/4;
        background-color: #fafafa;
        color: #838383;
        height: auto;
        font-size: 30px;
        text-align: center;
        line-height: 96px;
    }
    .top-bar-item {
        border: none;
    }
    .currency, .user-account-inner, .search-bar {
        height: 94px;
    }
    .user-account-inner {
        border-right: 1px solid #444444;
    }
    .currency form {
        height: 100%;
        border-right: 1px solid #444444;
    }
    .currency select {
        font-size: 30px;
        height: 94px;
    }
    .user-account-inner a {
        font-size: 30px;
        line-height: 101px;
    }
    .user-account-inner a::before {
        width: 40px;
        height: 38px;
        background: url('../img/mobile/css_sprites.png') -81px -10px;
        margin: 0px 10px;
        top: 6px;
    }
    .search-icon {
        width: 38px;
        height: 38px;
        background: url('../img/mobile/css_sprites.png') -10px -79px;
    }
    .search-bar {
        line-height: 96px;
    }
    .nav-bar {
        height: 296px;
    }
    .grid-nav-bar {
        grid-template-columns: auto minmax(0, 610px) auto;
        grid-template-rows: 200px 96px;
    }
    .logo {
        grid-area: 1/2/2/3;
    }
    .logo-mobile {
        display: inline-block;
    }
    .logo-desktop {
        display: none;
    }
    .logo img {
        margin: auto;
    }
    .basket {
        grid-area: 2/2/3/3;
        height: 96px;
    }
    .basket select {
        display: none;
    }
    .basket button {
        height: 96px;
        padding-left: 28px;
    }
    .basket button p {
        line-height: 50px;
        letter-spacing: 1px;
        font-size: 30px;
        padding-right: 30px;
    }
    .basket-icon {
        width: 51px;
        height: 49px;
        background: url('../img/mobile/css_sprites.png') -10px -10px;
    }
    .adaptive-menu {
        cursor: pointer;
        height: 145px;
        grid-template-rows: auto 96px auto;
        grid-template-columns: 1fr minmax(0, 610px) 1fr;
    }
    .menu-bar {
        grid-area: 2/2/3/3;
        height: 96px;
    }
    .menu-bar p:first-of-type {
        font-size: 30px;
        margin-left: 28px;
    }
    .menu-tablet {
        display: none;
    }
    .menu-mobile {
        display: inline-block;
    }
    .menu-bar img {
        margin-right: 30px;
    }
    .slider {
        display: none;
    }
    .main-social-bar {
        height: 234px;
        background-color: #ffffff;
    }
    .grid-main-social-bar button:hover {
        opacity: 0.7;
    }
    .grid-main-social-bar p:first-of-type {
        display: none;
    }
    .grid-main-social-bar {
        grid-template-columns: auto 174px 88px 88px 88px auto;
        grid-template-rows: 96px 138px;
    }
    .grid-main-social-bar form {
        grid-area: 1/1/2/7;
    }
    .grid-main-social-bar p {
        grid-area: 2/2/3/3;
        font-size: 26px;
    }
    .grid-main-social-bar div:nth-of-type(1) {
        grid-area: 2/3/3/4;
    }
    .grid-main-social-bar div:nth-of-type(2) {
        grid-area: 2/4/3/5;
    }
    .grid-main-social-bar div:nth-of-type(3) {
        grid-area: 2/5/3/6;
    }
    .grid-main-social-bar div {
        height: 88px;
        line-height: 100px;
    }
    .grid-main-social-bar input {
        font-size: 30px;
        height: 96px;
        width: 489px;
        padding-left: 25px;
        background-color: #ededed;
    }
    .grid-main-social-bar button {
        width: 96px;
        height: 96px;
        border-bottom: 15px solid #dd6b44;
    }
    .grid-main-social-bar span {
        background-image: url("../img/mobile/css_sprites.png");
        width: 37px;
        height: 37px;
        background-position: -68px -79px;
    }
    .grid-main-social-bar>div:first-of-type>a {
        width: 15px;
        height: 30px;
        background: url("../img/mobile/css_sprites.png") -196px -10px;
    }
    .grid-main-social-bar>div:nth-of-type(2)>a {
        width: 33px;
        height: 28px;
        background: url("../img/mobile/css_sprites.png") -10px -137px;
    }
    .grid-main-social-bar>div:nth-of-type(3)>a {
        width: 35px;
        height: 35px;
        background: url("../img/mobile/css_sprites.png") -141px -10px;
    }
    .promo-bar {
        display: none;
    }
    .new-products {
        background-color: #f4845d;
    }
    .new-products-head {
        grid-template-columns: 610px;
        height: 88px;
    }
    .new-products-head div {
        display: none;
    }
    .new-products-head a {
        display: none;
    }
    .new-products-head a:first-of-type {
        display: inline-block;
        font-size: 30px;
        line-height: 88px;
        background-color: #f4845d;
        text-align: unset;
        padding-left: 12px;
    }
    .new-products-head a:first-of-type::before {
        content: '';
        display: inline-block;
    }
    .product-4 {
        display: none;
    }
    .grid-new-products {
        grid-column: 1/2;
        grid-template-columns: auto repeat(2, 42.6%) auto;
        grid-gap: 5%;
    }
    .new-products-main {
        height: 675px;
        grid-template-columns: 640px;
        grid-template-rows: auto 523px auto 60px auto;
    }
    .new-products>.new-products-main>.load-button-mobile {
        display: inline-block;
        grid-row: 4/5;
        grid-column: 1/2;
        text-align: center;
    }
    .grid-new-products>div {
        height: 523px;
    }
    .product-2 {
        grid-column: 2/3;
    }
    .product-3 {
        grid-column: 3/4;
    }
    .product-bottom {
        height: 161px;
    }
    .shop-icon {
        height: 312px;
        background-position: center center;
    }
    .sale-icon {}
    .product-bottom p:first-of-type {
        font-size: 18px;
    }
    .product-bottom p:last-of-type {
        font-size: 27.49px;
    }
    .product-bottom button {
        width: 220px;
        height: 60px;
        border-bottom: 6px solid #dd6b44;
    }
    .product-bottom a {
        font-size: 20px;
        font-family: "HelveticaNeueLTStd-Lt";
    }
    .product-bottom a::after {
        width: 17px;
        height: 17px;
        background: url("../img/mobile/css_sprites.png") -63px -137px;
        margin-left: 20px;
    }
    .load-button-mobile button {
        border: none;
        background-color: #000000;
        width: 220px;
        height: 61px;
    }
    .load-button-mobile a {
        display: inline-block;
        height: 61px;
        line-height: 61px;
        width: 220px;
        font-size: 20px;
        color: #ffffff;
        font-family: "HelveticaNeueLTStd-Lt";
    }
    .load-button-mobile button:hover {
        opacity: 0.7;
    }
    .sale-product-2 {
        display: none;
    }
    .clearence-sale-bar {
        grid-template-columns: auto repeat(2, 43%) auto;
        height: 603px;
        grid-template-rows: 477px auto 60px auto;
        grid-gap: 5%;
    }
    .sale-product-1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .sale-product-3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .clearence-sale-bar .load-button-mobile {
        display: inline-block;
        grid-column: 1/5;
        grid-row: 2/3;
        text-align: center;
    }
    .bottom-bar {
        height: 107px;
        grid-template-columns: auto minmax(0, 610px) auto;
    }
    .pop-brands, .info-bar, .payment-methods-bar, .footer-info-bar {
        display: none;
    }
    .bottom-bar p:first-of-type {
        display: none;
    }
    .bottom-bar img {
        display: inline-block;
        margin-left: 14px;
    }
    .bottom-bar p:last-child {
        font-size: 24px;
        width: 216px;
        line-height: 30px;
        margin-right: 12px;
    }
    .bottom-bar:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}
